
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.kalkulackaFormular {
    background-color: #797474;
    padding: 20px;
    border-radius: 2px;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], select {
    width: 5%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

